@use "./font" as*;
@use "./color" as*;
@use "./reset" as*;
 @use "./component/button" as*;
 @use "./component/card" as*;
 @use "./component/footer" as*;
@use "./component/navbar" as*;
@use "./component/heading" as*;



.imgBg{

    background-image: url(../imagess/beautiful-black-woman-holding-looking-money-her-hand.jpg);
    // width: 1000px;
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    background-color: $primary;
}

// .services{
//     justify-content: center;
// }

.navBar2{
    font-weight: bolder;
}
